:host {
  display: block;
}
.admin-sidebar {
  width: 240px;
  background: #fff;
  border-right: 1px solid #e6eef6;
  min-height: calc(100vh - 64px);
  padding-top: 18px;
}
.admin-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.admin-sidebar li {
  padding: 10px 18px;
}
.admin-sidebar a {
  color: #0b3b66;
  text-decoration: none;
  font-weight: 600;
}
.admin-sidebar li:hover {
  background: #f5f8fb;
}

@media (max-width: 900px) {
  .admin-sidebar {
    display: none;
  }
}
